h1 {
  font-size: var(--fs-h1);
  margin-bottom: 20px;
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  color: var(--clr-accent);
  text-shadow: 2px 2px var(--clr-dark);
}

h2 {
  margin-top: 20px;
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
  font-family: var(--ff-primary);
  color: var(--clr-dark);
}

.notfound {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  height: 1000px;
}

a {
  text-decoration: none;
}
