<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div>
      <label>Name</label>
      <input type="text" class="form-text" #itemName />
    </div>
    <div>
      <label>Brand</label>
      <input type="text" class="form-text" #itemBrand />
    </div>
    <div>
      <label>Description</label>
      <textarea class="form-text" #itemDescription></textarea>
    </div>
    <div>
      <label>Size</label>
      <select class="form-text" #itemSize>
        <option value="" disabled selected>-----</option>
        <option *ngFor="let item of sizesKeys" [value]="item">
          {{ sizes[item] }}
        </option>
      </select>
    </div>
    <div>
      <label>Notes</label>
      <select class="form-text" #itemNotes>
        <option value="" disabled selected>-----</option>
        <option *ngFor="let item of notesKeys" [value]="item">
          {{ notes[item] }}
        </option>
      </select>
    </div>
    <div>
      <label>Image</label>
      <input
        type="text"
        class="form-text"
        placeholder="URL da Imagem"
        #itemImage
      />
    </div>
    <div>
      <label>Price(€)</label>
      <input type="text" class="form-text" #itemPrice />
    </div>
    <button
      class="btn btn-primary"
      (click)="
        onCreateItem(
          itemName.value,
          itemBrand.value,
          itemDescription.value,
          itemImage.value,
          itemSize.value,
          itemNotes.value,
          itemPrice.value
        )
      "
      routerLinkActive="active"
      routerLink=""
    >
      <fa-icon
        [icon]="faPlus"
        [style]="{ border: 'var(--clr-light)', color: 'var(--clr-light)' }"
        size="3x"
      ></fa-icon>
    </button>
  </div>
</div>
